#footer {
    background-color: var(--background-color-3);
  }
  
  #footer p {
    color: var(--font-color-1);
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
  }
  
  .footer-menu h3,
  .footer-menu a {
    color: var(--font-color-1);
  }
  
  .footer-menu h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .footer-menu a {
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    cursor: pointer;
  }
  
  .footer-menu a:hover {
    text-decoration: underline;
    color: rgb(229, 220, 220);
  }
  
  .footer-menu li {
    list-style-type: none;
    padding: 5px 0;
  }
  
  
  /* Responsive Evaluation Form 7 */
  @media (max-width: 576px) {
   .footer-header {
    padding: 0 12px;
   } 
  }